# Grafana Datasource Provisioning
# Automatically configures Prometheus as datasource

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      timeInterval: 15s
      queryTimeout: 60s
      incrementalQuerying: true
      incrementalQueryOverlapWindow: 10m
    version: 1
